<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 
</div>
<h2>Here are some links to help you start: </h2>

<StudentListComponent [userId]="std.userId" 
[title]="std.title" (sendRecord) = "getRecord()" *ngFor="let std of studentRecord">lidt</StudentListComponent>

<!-- <ul *ngFor="let std of studentRecord">
  <li> <button (sendRecord) = "getRecord()">{{std.userId}}</button>
  </li>
  <li> {{std.title}}
  </li>
</ul> -->
<router-outlet> </router-outlet>
